/* Tabela */

.container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container th,
.container td {
    border: 1px solid #838383;
    padding: 10px;
}

.container th {
    background-color: rgba(12, 12, 37, 0.76);
    color: #fff;
    height: 0px;
}
.container #id {
   
    width: 80px;
    padding: 10px 0;
}

thead{
    background-color: rgba(0, 0, 255, 0.76);
    color: #000;
}
.container #km {
    
	width: 400px;
    padding: 10px 0;
    margin: auto;
}

.container #motorista {
    
	width: 300px;
    padding: 10px 0;
    
}
.container #m-veiculo {
   
	width: 137px;
    padding: 10px 0;
   
}

.container #placa {
    
	width: 137px;
    padding: 10px 0;
    
}

.container #pecas {
    
	width: 300px;
    padding: 10px 0;
    
}

.container #garantia {
    
	width: 250px;
    padding: 10px 0;
    
}